# --- SUPABASE ---
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# --- STRIPE ---
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# --- KONFIGURACJA ---
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_APP_URL=

# --- EMAIL (Resend) ---
RESEND_API_KEY=

# --- FURGONETKA MAP ---
NEXT_PUBLIC_FURGONETKA_MAP_API_KEY=

# --- FURGONETKA API ---
FURGONETKA_CLIENT_ID=
FURGONETKA_CLIENT_SECRET=
FURGONETKA_ACCESS_TOKEN=
FURGONETKA_REFRESH_TOKEN=
